.operations-visual {
  background: radial-gradient(ellipse at 40% 10%, #465442, #202a20 65%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 16px 0;
}
.app-preview {
  display: flex;
  width: 110%;
  flex-shrink: 0;
  background: #edf0e8;
  color: #293127;
  border-radius: 6px 6px 0 0;
  height: 245px;
  transform: perspective(700px) rotateY(-9deg) rotateX(7deg) rotateZ(-5deg)
    translate(10px, 13px);
  box-shadow: 0 20px 45px #0008;
  font-family: Arial, sans-serif;
}
.app-preview aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 34px;
  border-right: 1px solid #d7dfd1;
  padding: 15px 0;
  background: #e4eadd;
}
.app-logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -3px;
  margin-bottom: 23px;
}
.app-logo span {
  color: #6a8548;
}
.app-preview aside i {
  width: 9px;
  height: 9px;
  border: 1px solid #a5b49a;
  margin-bottom: 15px;
  border-radius: 2px;
}
.app-avatar {
  margin-top: auto;
  font-size: 5px;
  background: #a4bc8b;
  border-radius: 50%;
  padding: 4px;
}
.app-content {
  flex: 1;
  padding: 13px 15px;
}
.app-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 5px;
}
.mini-avatar {
  padding: 3px;
  background: #c6d6b8;
  border-radius: 50%;
  font-size: 5px;
}
.app-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
}
.app-heading small {
  font-size: 4px;
  letter-spacing: 1px;
  color: #929c8a;
}
.app-heading h4 {
  font-size: 10px;
  margin-top: 5px;
  letter-spacing: -0.2px;
}
.mini-button {
  font-size: 4px;
  background: #303f28;
  color: #edf0e5;
  padding: 5px;
  border-radius: 2px;
}
.app-metrics {
  display: flex;
  gap: 6px;
  margin-top: 15px;
}
.app-metrics > div {
  flex: 1;
  background: #e1e8d9;
  padding: 8px;
  border-radius: 3px;
}
.app-metrics small {
  font-size: 5px;
  display: block;
  color: #89967c;
}
.app-metrics strong {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.app-metrics strong span {
  font-size: 10px;
  color: #829962;
}
.app-chart {
  margin-top: 12px;
  border: 1px solid #dce3c5;
  border-radius: 3px;
  padding: 8px;
}
.app-chart > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 6px;
}
.app-chart small {
  font-size: 4px;
  color: #7c8b6d;
}
.chart-bars {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  height: 83px;
  background: repeating-linear-gradient(
    to top,
    #d7dece 0,
    #d7dece 1px,
    transparent 1px,
    transparent 21px
  );
}
.chart-bars i {
  width: 10px;
  background: #a7bc88;
  border-radius: 2px 2px 0 0;
}
.chart-bars i:nth-child(3n) {
  background: #718657;
}
.app-task {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 5px;
  margin-top: 10px;
}
.app-task small {
  margin-left: auto;
  color: #789358;
}
.deployment-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at 65% 80%, #263420, #131c17 80%);
  padding: 27px 19px;
}
.deploy-orbit {
  position: absolute;
  width: 330px;
  height: 330px;
  border: 1px solid #748f4733;
  border-radius: 50%;
  transform: rotateX(65deg) rotateZ(-30deg);
  bottom: -160px;
}
.terminal-window {
  background: #111713;
  border: 1px solid #6b80513b;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 18px 35px #0006;
  transform: perspective(900px) rotateY(-6deg) rotateX(7deg) rotateZ(-4deg);
  position: relative;
  margin-top: -15px;
}
.window-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 11px;
  border-bottom: 1px solid #52603e2b;
  font-family: monospace;
  font-size: 6px;
  color: #76816f;
}
.window-dots {
  color: #75826b;
  font-size: 5px;
  letter-spacing: 2px;
}
.terminal-content {
  padding: 14px 14px 13px;
  font-size: 8px;
  font-family: monospace;
  line-height: 1.7;
}
.terminal-muted {
  font-size: 6px;
  color: #687361;
  margin-top: 4px;
  margin-bottom: 13px;
}
.terminal-stage {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 7px;
  color: #bcc9b1;
  margin-top: 7px;
}
.terminal-stage svg {
  color: #b3d67a;
}
.terminal-stage small {
  margin-left: auto;
  color: #64765a;
  font-size: 6px;
}
.deployed {
  background: #25341c;
  border: 1px solid #5e7c3833;
  color: #c4e69b;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 8px;
  margin-top: 14px;
  font-size: 7px;
  border-radius: 3px;
}
.deployed > svg {
  margin-left: auto;
}
.visual-caption {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 7px;
  font-family: monospace;
  color: #789367;
}
.studio-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.62) saturate(0.5);
}
.studio-overlay {
  position: absolute;
  inset: 24px;
  color: #f8f5e9;
  display: flex;
  flex-direction: column;
}
.studio-overlay > span:first-child {
  font-size: 19px;
  letter-spacing: -1px;
  font-weight: 550;
}
.studio-overlay small {
  display: block;
  font-size: 5px;
  letter-spacing: 1.2px;
  margin-top: 5px;
  font-weight: 400;
}
.studio-overlay strong {
  margin-top: auto;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.8px;
  line-height: 1.03;
}
.studio-overlay strong em {
  color: #f0ebd8;
  font-size: 1.1em;
}
.studio-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 6px;
  letter-spacing: 0.3px;
  margin-top: 20px;
}
